.navbar {
  background-color: var(--bg-light-2);
  padding: 1.4rem;
  @include flexCenter;
  @include flexSpread;
  position: fixed;
  z-index: 10;
  width: 100%;
  &__btn {
    display: none;
    // width: 7rem;
    // height: 7rem;
    // background-color: #fff;
    background-color: transparent;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);

    position: fixed;
    z-index: 2000;
    @media only screen and (max-width: $bp-tab-port) {
      display: block;
    }
    &:focus {
      background-color: transparent;
    }
  }
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    z-index: 10000;

    &,
    &::before,
    &::after {
      width: 3.6rem;
      height: 0.2rem;
      display: inline-block;
      background-color: #fff;
      -webkit-transition: var(--transition-primary);
      transition: var(--transition-primary);
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
    &--active {
      top: 0;
      left: 0;
      // margin: 0;
      & {
        background-color: transparent;
      }
      &::before {
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }
      &::after {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
      }
    }
  }
  &__user {
    @include flexCenter;
    gap: 1rem;
    &__img {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
    }
    &__name {
      font-size: 2rem;
      font-weight: var(--font-weight-2);
      color: var(--color-grey-light-1);
    }
  }
}
