.arrows {
  margin-top: 4.2rem;
  position: absolute;

  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  gap: 3.2rem;
  &__arrow {
    //   position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #fff;
    // outline: none;
    border: none;
    box-shadow: 0 1rem 2rem rgba(#000, 0.08);
    border-radius: 50%;
    z-index: 100;
    color: var(--color-grey-dark-4);
    height: 5.5rem;
    width: 5.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--transition-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-grey-light-1);
    }
    &:active {
      transform: scale(0.9);
    }
    &--left {
    }
    &--right {
    }
  }
}
