.form {
  display: flex;
  gap: 3.2rem;
  @include flexCol;
  width: 60%;
  position: relative;
  @media only screen and (max-width: $bp-tab-land) {
    width: 90%;
    margin: 0 auto;
  }
  // @media only screen and (max-width: $bp-tab-port) {
  //   width: 90%;
  //   margin: 0 auto;
  // }
  &__note {
    font-size: 1.4rem;
    color: var(--color-primary-dark-1);
  }
  &--center {
    padding: 3.2rem;
    max-width: 50rem;
    margin: 0 auto;

    box-shadow: 0 2rem 4rem rgba(#000, 0.1);
    border-radius: var(--border-radius);
  }
  &__control {
    display: flex;
    @include flexCol;
  }
  &__label {
    font-size: 1.8rem;
    font-weight: var(--font-weight-3);

    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  &__textarea,
  &__input {
    border: 3px solid transparent;
    transition: var(--transition-primary);
    &--hidden {
      display: none;
    }
    &[type="password"] {
      &::placeholder {
        font-weight: var(--font-weight-4);
        font-size: 1.8rem;
      }
    }
    &:focus {
      outline: none;
      border: 2px solid var(--color-primary-dark-1) !important;
      transition: all 500ms ease;
      color: currentColor;
      box-shadow: 0 1rem 2rem rgba(#000, 0.1);
    }
    &:focus:invalid {
      border: 3px solid var(--el-border) var(--color-warn);
    }
    &::placeholder {
      color: var(--color-grey-light);
    }
    &:placeholder-shown {
      color: currentColor;
    }
  }
  &__textarea,
  &__select,
  &__input,
  &__input-label {
    outline: 3px solid transparent;
    padding: 1.2rem 1.4rem;
    height: 4.2rem;
    border-radius: var(--border-radius);
    // border: none;

    box-shadow: 0 2rem 6rem rgba(#000, 0.1);
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: currentColor;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  &__input {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    &--error {
      border: 2px solid var(--color-warn);
      animation: inputError 0.4s;
    }
  }
  &__select {
    padding: 0 1.2rem;
  }
  &__input-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__textarea {
    height: 18rem;
    max-width: 100%;
    min-width: 100%;

    transition: none;
  }
  &__message {
    color: var(--color-warn);
    font-size: 1.8rem;
    font-weight: var(--font-weight-4);
    margin-top: 0.4rem;
    position: absolute;
    top: 100%;
  }
  &__input,
  &__textarea,
  &__input-label,
  &__select {
    &:focus {
      outline: none;
      transition: all 500ms ease;
    }
  }
}
// input[type="password"] {
//   display: none;
// }
// <div class="form__control">
//   <label for="bookSelect" class="form__label">ملاحظات الكتاب</label
//   ><textarea class="form__textarea" placeholder="الملاحظات...">
//     الملاحظات...</textarea
//   >
// </div>
