@keyframes inputError {
  0% {
    transform: translateX(1rem);
  }
  50% {
    transform: translateX(-0.8rem);
  }
  75% {
    transform: translateX(1rem);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes fromBottomFade {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.rad {
  animation: blink 1s linear infinite;
}
