.u-center-text {
  text-align: center !important;
}

// MARGIN CLASSES
.u-margin-bottom-smallest {
  margin-bottom: 1rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
.u-list {
  display: flex;
  list-style: none;
  // align-items: center;
  justify-content: center;
  &--col {
    flex-direction: column;
  }
  &--center {
    align-items: center;
  }
  &--row {
    flex-direction: row;
  }
  &__item {
    @include flexCenter;
    gap: 0.7rem;
    &--center {
    }
  }
  &__link {
    &,
    &:visited,
    &:active {
      text-decoration: none;
      font-size: var(--font-size);
      color: var(--color-grey-light-1);
    }
    &--icon {
      @include flexCenter;
      gap: 1.2rem;
    }
  }
}
.u-icon {
  // width: 2.6rem;
  // height: 2.6rem;
  // fill: var(--color-grey-light-1);
  font-size: 2.4rem;
  &--filled {
    color: var(--color-grey-dark-3);
    fill: var(--color-grey-dark-3);
  }
}
.u-form {
  &__label {
  }
  &__input {
  }
}
.section {
  &--two-factor,
  &--error {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--forgot {
  }
}
.u-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.link {
  &:visited,
  &:link {
    text-decoration: none;
    color: currentColor;
    display: none;
  }
}
.section {
  &--full {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
