:root {
  --color-primary: #2c90ec;
  --color-primary-light-1: #419bee;
  --color-primary-light-2: #56a6f0;
  --color-primary-light-3: #6bb1f2;
  --color-primary-light-4: #80bcf4;
  --color-primary-light-5: #96c8f6;
  --color-primary-dark-1: #2882d4;
  --color-primary-dark-2: #2373bd;
  --color-primary-dark-3: #1f65a5;
  --color-primary-dark-4: #1a568e;
  --color-primary-dark-5: #164876;
  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #f1f3f5;
  --color-grey-light-3: #e9ecef;
  --color-grey-light-4: #ced4da;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #444;
  --color-grey-dark-3: #555;
  --color-grey-dark-4: #666;
  --color-white: #fff;
  --bg-dark-1: #180e04;
  --bg-dark-2: #120a02;
  --bg-dark-3: #2f261d;
  --bg-light: #fff;
  --bg-light-2: #e9e9e9;
  --bg: #fff;
  --text-color: #444;
  --heading-color: #333;
  --theme-color-text: #444;
  --color-warn: #f03e3e;
  --color-granted: #0ca678;
  --font-famliy: "Roboto", Arial, sans-serif;
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;
  --font-weight-4: 700;
  --font-size: 1.8rem;
  --line-height: 1.65;
  --shadow-primary: 0 2rem 6rem rgba(#000, 0.1);
  --border-radius: 1.2rem;
  --transition-primary: all 300ms cubic-bezier(0.79, 0.33, 0.13, 0.83);
  --el-background: #e9ecef;
  --el-color: #444;
  --el-text: #444;
  --el-border: #555; }

@keyframes inputError {
  0% {
    transform: translateX(1rem); }
  50% {
    transform: translateX(-0.8rem); }
  75% {
    transform: translateX(1rem); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.8; } }

@keyframes fromBottomFade {
  from {
    transform: translateY(15rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.rad {
  animation: blink 1s linear infinite; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--rl-color); }

.select {
  font-size: 2rem; }

.notifications__notification__btn {
  background-color: red; }

body {
  font-family: var(--font-famliy);
  font-weight: var(--font-weight-1);
  color: var(--text-color);
  line-height: var(--line-height); }

.heading--secondary {
  font-size: 3.8rem;
  color: var(--color-grey-dark-3);
  font-weight: 500;
  text-align: center; }

.heading--tertiary {
  font-size: 3.2rem;
  font-weight: var(--font-weight-4);
  color: var(--heading-color); }
  .heading--tertiary::after {
    content: "";
    display: block;
    width: 4.2rem;
    height: 0.6rem;
    margin-top: 1rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius); }
  @media only screen and (max-width: 56.25em) {
    .heading--tertiary {
      font-size: 3.6rem; } }

.paragraph {
  font-size: var(--font-size);
  font-weight: var(--font-weight-1);
  color: var(--text-color); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-smallest {
  margin-bottom: 1rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-list {
  display: flex;
  list-style: none;
  justify-content: center; }
  .u-list--col {
    flex-direction: column; }
  .u-list--center {
    align-items: center; }
  .u-list--row {
    flex-direction: row; }
  .u-list__item {
    display: flex;
    align-items: center;
    gap: 0.7rem; }
  .u-list__link, .u-list__link:visited, .u-list__link:active {
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--color-grey-light-1); }
  .u-list__link--icon {
    display: flex;
    align-items: center;
    gap: 1.2rem; }

.u-icon {
  font-size: 2.4rem; }
  .u-icon--filled {
    color: var(--color-grey-dark-3);
    fill: var(--color-grey-dark-3); }

.section--two-factor, .section--error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.u-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem; }

.link:visited, .link:link {
  text-decoration: none;
  color: currentColor;
  display: none; }

.section--full {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.btn, .btn:link, .btn:visited {
  display: flex;
  padding: 1.2rem;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
  font-size: var(--font-size);
  cursor: pointer;
  border: none;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  transition: var(--transition-primary);
  font-weight: var(--font-weight-4);
  font-family: var(--font-family);
  text-align: center !important; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    background-color: #fff;
    color: var(--color-primary); }
  .btn:active, .btn:link:active, .btn:visited:active {
    transform: scale(0.95); }

.btn--primary {
  background-color: rgba(171, 211, 247, 0.5);
  color: var(--color-primary-dark-1); }

.btn--warn {
  background-color: var(--color-warn);
  color: var(--color-grey-light-1); }

.btn--green {
  background-color: rgba(12, 166, 120, 0.3);
  color: var(--color-granted); }

.btn--logout {
  background-color: var(--color-warn);
  color: var(--color-grey-light-1);
  border-radius: 0px !important;
  flex: 1;
  align-self: center;
  justify-self: center;
  text-align: center; }

.form {
  display: flex;
  gap: 3.2rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .form {
      width: 90%;
      margin: 0 auto; } }
  .form__note {
    font-size: 1.4rem;
    color: var(--color-primary-dark-1); }
  .form--center {
    padding: 3.2rem;
    max-width: 50rem;
    margin: 0 auto;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius); }
  .form__control {
    display: flex;
    display: flex;
    flex-direction: column; }
  .form__label {
    font-size: 1.8rem;
    font-weight: var(--font-weight-3);
    margin-bottom: 1rem;
    display: flex;
    align-items: center; }
  .form__textarea, .form__input {
    border: 3px solid transparent;
    transition: var(--transition-primary); }
    .form__textarea--hidden, .form__input--hidden {
      display: none; }
    .form__textarea[type="password"]::placeholder, .form__input[type="password"]::placeholder {
      font-weight: var(--font-weight-4);
      font-size: 1.8rem; }
    .form__textarea:focus, .form__input:focus {
      outline: none;
      border: 2px solid var(--color-primary-dark-1) !important;
      transition: all 500ms ease;
      color: currentColor;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
    .form__textarea:focus:invalid, .form__input:focus:invalid {
      border: 3px solid var(--el-border) var(--color-warn); }
    .form__textarea::placeholder, .form__input::placeholder {
      color: var(--color-grey-light); }
    .form__textarea:placeholder-shown, .form__input:placeholder-shown {
      color: currentColor; }
  .form__textarea, .form__select, .form__input, .form__input-label {
    outline: 3px solid transparent;
    padding: 1.2rem 1.4rem;
    height: 4.2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: currentColor;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff; }
  .form__input {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff; }
    .form__input--error {
      border: 2px solid var(--color-warn);
      animation: inputError 0.4s; }
  .form__select {
    padding: 0 1.2rem; }
  .form__input-label {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .form__textarea {
    height: 18rem;
    max-width: 100%;
    min-width: 100%;
    transition: none; }
  .form__message {
    color: var(--color-warn);
    font-size: 1.8rem;
    font-weight: var(--font-weight-4);
    margin-top: 0.4rem;
    position: absolute;
    top: 100%; }
  .form__input:focus, .form__textarea:focus, .form__input-label:focus, .form__select:focus {
    outline: none;
    transition: all 500ms ease; }

.admin-sidebar {
  flex: 0 0 18%;
  background-color: coral; }

.slider {
  position: relative;
  width: 100rem;
  max-width: 100rem;
  height: 70rem;
  margin: 0 auto;
  overflow: hidden; }
  .slider__slide {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: all 450ms ease;
    width: 100%;
    opacity: 0; }
    .slider__slide__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.arrows {
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 100;
  top: 50%;
  right: 30%; }
  .arrows__arrow {
    background-color: var(--color-primary-light-4);
    height: 5.5rem;
    width: 5.5rem;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius); }
    .arrows__arrow__icon {
      width: 2.8rem;
      height: 2.8rem;
      color: var(--color-primary); }

.notifications {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 1.2rem; }
  .notifications__notification {
    padding: 3.2rem;
    color: var(--color-grey-light-1);
    border-radius: var(--border-radius);
    font-size: 2rem;
    font-weight: var(--font-weight-3);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1.6rem; }
    .notifications__notification--success {
      background-color: var(--color-granted); }
    .notifications__notification--error {
      background-color: var(--color-warn); }
    .notifications__notification__btn {
      background-color: transparent;
      border: none;
      color: currentColor;
      cursor: pointer; }

.icon {
  width: 2.4rem;
  height: 2.4rem;
  color: currentColor; }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-light-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      flex: 0 0 22%; } }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      position: fixed;
      width: 30vh;
      z-index: 40;
      display: flex;
      transform: translateX(100vw);
      -webkit-transition: var(--transition-primary);
      transition: var(--transition-primary) 150ms; } }
  .sidebar__list {
    margin-top: 40%;
    gap: 0.2rem;
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .sidebar__list {
        margin-top: 40%; } }
    .sidebar__list__heading {
      font-size: 2.4rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 0.5rem; }
      .sidebar__list__heading::before, .sidebar__list__heading::after {
        content: "";
        display: inline-block;
        width: 3rem;
        height: 1px;
        background-color: var(--color-grey-dark-4); }
  .sidebar__item {
    padding: 1.2rem 0; }
    .sidebar__item--active {
      background-color: var(--color-primary);
      color: var(--color-grey-light-1) !important; }
  .sidebar__link:link, .sidebar__link:visited {
    padding: 1.2rem 0;
    width: 100%;
    z-index: 3;
    position: relative;
    transition: 1s ease;
    overflow: hidden;
    transform-origin: left;
    transition: width 200ms height 400ms;
    color: currentColor; }
  .sidebar__link::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    transition: height 400ms;
    background-color: var(--color-primary);
    transform-origin: bottom; }
  .sidebar__link:hover::after {
    height: 100%; }
  .sidebar__link__icon {
    font-size: 2.4rem;
    color: currentColor;
    margin-right: 1.6rem; }
  .sidebar__icon {
    margin-right: 2.2rem; }
  .sidebar__btn {
    display: none;
    width: 7rem;
    height: 7rem;
    background-color: transparent;
    text-align: center;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 200;
    border-radius: var(--border-radius); }
    @media only screen and (max-width: 56.25em) {
      .sidebar__btn {
        display: block; } }
  .sidebar__icon {
    position: relative;
    z-index: 100; }
    .sidebar__icon, .sidebar__icon::before, .sidebar__icon::after {
      width: 3.6rem;
      height: 0.3rem;
      display: inline-block;
      background-color: var(--color-grey-dark-3);
      -webkit-transition: var(--transition-primary);
      transition: var(--transition-primary); }
    .sidebar__icon::before, .sidebar__icon::after {
      position: absolute;
      content: "";
      left: 0; }
    .sidebar__icon::before {
      top: -0.8rem; }
    .sidebar__icon::after {
      top: 0.8rem; }
    .sidebar__icon--active {
      top: 0;
      left: 0; }
      .sidebar__icon--active {
        background-color: transparent; }
      .sidebar__icon--active::before {
        top: 0;
        left: 0;
        transform: rotate(45deg); }
      .sidebar__icon--active::after {
        top: 0;
        left: 0;
        transform: rotate(-45deg); }
  .sidebar__text {
    padding: 1rem;
    color: var(--color-grey-light-1);
    font-size: 2rem; }
  .sidebar--active {
    transform: translateX(0); }
  .sidebar__action {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center; }
    .sidebar__action button {
      text-align: center;
      border-radius: none;
      background-color: var(--color-warn);
      padding: 1.2rem;
      font-size: var(--font-size);
      color: var(--color-grey-light-1);
      text-decoration: none;
      border: none;
      font-family: inherit; }

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  margin-bottom: 3.8rem; }
  @media only screen and (max-width: 56.25em) {
    .search {
      margin-top: 8.4rem; } }
  .search__form {
    display: flex;
    align-items: center;
    margin-bottom: 6.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem; }
    .search__form__input {
      padding: 0.5rem 1rem;
      width: 100%;
      height: 4.6rem;
      margin-left: -3.4rem;
      border: none;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
      border-radius: var(--border-radius);
      color: currentColor;
      border: 3px solid var(--el-border) transparent;
      font-size: var(--font-size);
      transition: var(--transition-primary); }
      @media only screen and (max-width: 75em) {
        .search__form__input {
          padding: 1rem 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .search__form__input {
          padding: 2.2rem 1rem; } }
      .search__form__input:last-child {
        grid-column: 1 /-1;
        margin-top: 1.2rem; }
      .search__form__input:placeholder-shown {
        color: currentColor; }
      .search__form__input::-webkit-search-cancel-button {
        display: none; }
      .search__form__input:focus {
        outline: none;
        border: 3px solid var(--el-border) var(--color-primary);
        color: currentColor; }
  .search__btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: var(--color-grey-dark-4); }

.quick-nav__btn {
  border: none;
  background-color: transparent;
  font-size: var(--font-size);
  font-weight: var(--font-weight-2);
  cursor: pointer; }

.quick-nav__list {
  position: fixed;
  padding-top: 1.2rem;
  background-color: #f9f9f9;
  width: 30rem;
  top: 5rem;
  right: 4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.06);
  transform: translateY(15rem);
  opacity: 0;
  transition: all 750ms;
  border-radius: var(--border-radius);
  visibility: hidden; }
  .quick-nav__list--active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }

.quick-nav__item {
  padding: 1.4rem;
  flex: 1; }
  .quick-nav__item:not(:last-child) {
    border-bottom: 1px solid #ccc; }

.quick-nav__link {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: currentColor;
  font-size: var(--font-size);
  text-align: center;
  color: var(--color-grey-dark-2);
  transition: all 350ms;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer; }
  .quick-nav__link:hover {
    color: var(--color-primary); }

.search-results {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3.2rem; }
  .search-results__result {
    padding: 3.2rem;
    text-decoration: none;
    display: flex;
    gap: 3.2rem;
    font-size: 1.7rem;
    flex-direction: column;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    background-color: #fff;
    transition: var(--transition-primary);
    color: var(--color-grey-dark-3);
    cursor: pointer;
    animation: fadeIn 450ms; }
    .search-results__result__heading {
      font-size: 3rem;
      text-align: center;
      border-bottom: 1px solid var(--color-grey-light-3); }
    .search-results__result__info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      gap: 1.8rem; }
    .search-results__result__icon {
      color: var(--color-primary);
      font-size: 2rem; }
  .search-results__user {
    padding-top: 1.6rem;
    border-top: 1px solid var(--color-grey-light-3);
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .search-results__result:hover {
    transform: scale(1.03); }

/* 
.search-results {
  @include flexCenter;
  @include flexCol;
  position: relative;
  gap: 3.2rem;
  &__result {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.2rem;
    box-shadow: 0 2rem 4rem rgba(#000, 0.1);
    border-radius: var(--border-radius);
    background-color: #fff;
    transition: var(--transition-primary);
    cursor: pointer;
    animation: fadeIn 450ms;
    @media only screen and (max-width: $bp-tab-land) {
      // border-top-right-radius: var(--border-radius);
      // border-top-left-radius: var(--border-radius);
      // border-bottom-right-radius: 0px;
    }
    @media only screen and (max-width: $bp-small) {
      @include flexCol;
      h3 {
        text-align: center;
      }
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      @media only screen and (max-width: $bp-small) {
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        border-bottom-right-radius: 0px;
      }
    }
    &__text {
      padding: 1.8rem;
    }
  }
  &__result:hover {
    transform: scale(1.03);
  }
}

*/
.user-photo {
  display: flex;
  align-items: center;
  gap: 3.2rem; }
  .user-photo__label {
    padding: 1.6rem 3.2rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size);
    background-color: var(--color-primary-dark-1);
    color: var(--color-grey-light-1);
    transition: var(--transition-primary);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1); }
    .user-photo__label:hover {
      background-color: #fff;
      color: var(--color-primary-dark-1); }
  .user-photo__input {
    display: none; }
  .user-photo__photo {
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%; }

.change {
  padding: 8rem 0; }
  .change:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light-3); }
  .change__icon {
    font-size: 6.2rem;
    color: var(--color-granted); }
  .change__heading {
    font-size: 3.2rem; }

.table {
  border-collapse: collapse;
  font-size: var(--font-size); }
  .table__head, .table__doc {
    text-align: right;
    padding: 1.8rem 2rem; }
  .table__row:nth-child(odd) {
    background-color: var(--color-grey-light-1); }
  .table__row:nth-child(even) {
    background-color: var(--color-grey-light-3); }
  .table__head {
    padding: 4rem; }
    .table__head th {
      background-color: var(--color-primary);
      color: #fff;
      width: 25%;
      padding: 2rem;
      font-size: 1.8rem; }
  .table__doc {
    font-size: var(--font-size); }

/* 

.table {
  //   display: flex;
  border-collapse: collapse;
  font-size: var(--font-size);
  text-align: right;
  border-radius: var(--border-radius);
  &__row,
  &__head,
  &__doc {
    border: 1px solid #fff;
    // border-top: 1px solid #989898;
    // border-bottom: 1px solid #989898;
  }
  &__row {
    padding: 1.2rem;
    &:nth-child(odd) {
      background-color: var(--color-primary-dark-1);
      color: var(--color-grey-light-1);
      border-left: none !important;
    }
    &:nth-child(even) {
    }
  }
  &__head {
    color: var(--color-grey-light-1);

    font-weight: var(--font-weight-4);
    padding: 1rem;
  }
  &__doc {
    padding: 1rem;
  }
}

*/
.modal, .confirm {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.7rem); }
  .modal__content, .confirm__container {
    padding: 3.2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 30rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    max-width: 50rem;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
  .modal__heading {
    font-size: 3rem; }
  .modal__text {
    font-size: 2.2rem;
    color: var(--color-granted); }
    .modal__text--error {
      color: var(--color-warn); }
  .modal__close {
    position: fixed;
    top: 12rem;
    right: 12rem;
    width: 5rem;
    height: 5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer; }
    .modal__close__icon {
      position: relative;
      z-index: 200; }
      .modal__close__icon::before, .modal__close__icon::after {
        transition: var(--transition-primary);
        content: "";
        display: block;
        width: 3.6rem;
        height: 0.2rem;
        background-color: #fff;
        left: 0;
        top: 0;
        position: absolute; }
      .modal__close__icon::before {
        transform: rotate(-45deg); }
      .modal__close__icon::after {
        transform: rotate(45deg); }
    .modal__close:hover > .modal__close__icon::before {
      transform: rotate(120deg); }
    .modal__close:hover > .modal__close__icon::after {
      transform: rotate(220deg); }
  .modal__actions {
    display: flex;
    gap: 1.6rem; }
  .modal__btn {
    padding: 1.2rem 3.2rem;
    border: none;
    outline: none;
    color: var(--color-grey-light-1);
    border-radius: var(--border-radius);
    cursor: pointer;
    flex: 1; }
    .modal__btn--success {
      background-color: var(--color-granted); }
    .modal__btn--fail {
      background-color: var(--color-warn); }

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* THIS creates the animation! */
  transition: transform 1s; }

.login-welcome {
  position: relative; }

.two-factor {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 6.4rem;
  border-radius: var(--border-radius); }
  .two-factor__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    margin-top: 3.2rem; }
    .two-factor__form button {
      flex: 1;
      text-align: center; }
  .two-factor__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem; }
  .two-factor__input {
    width: 6rem;
    height: 8rem;
    border: 1px solid var(--color-grey-light-4);
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 3rem;
    color: var(--color-grey-dark-4);
    transition: var(--transition-primary);
    -moz-appearance: textfield; }
    .two-factor__input::-webkit-outer-spin-button, .two-factor__input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .two-factor__input:focus {
      outline: none;
      transform: scale(1.12); }
  .two-factor--form {
    max-width: 70rem; }

.loader {
  width: 6.6rem;
  height: 6.6rem;
  border: 5px solid var(--el-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  animation: rotation 1s linear infinite; }
  .loader--inline {
    width: 2.6rem;
    height: 2.6rem; }
  .loader--full {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: #fff; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.message {
  color: var(--color-grey-light-1);
  text-align: center;
  font-size: 2.2rem;
  padding: 1.6rem;
  margin-bottom: 4.2rem;
  position: fixed;
  z-index: 100444444444444444400;
  width: 100vw !important;
  top: 0%;
  left: 0; }
  .message--success {
    background-color: var(--color-granted); }
  .message--fail {
    background-color: var(--color-warn); }

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem; }
  .pagination__next, .pagination__back {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    display: flex;
    align-items: center;
    gap: 1rem; }
  .pagination__next, .pagination__back, .pagination__btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 200rem;
    cursor: pointer; }
  .pagination__btn {
    border: 2px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-grey-dark-1);
    display: flex;
    align-items: center;
    justify-content: center; }

.toggle-mode {
  display: flex;
  align-items: center;
  gap: 1rem; }
  .toggle-mode__btn {
    background-color: var(--color-grey-light-4);
    border: none;
    width: 10rem;
    height: 4rem;
    border-radius: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition: all 450ms ease;
    padding: 0.8rem 0.4rem; }
    .toggle-mode__btn__circle {
      width: 3rem;
      height: 3rem;
      background-color: var(--color-grey-dark-2);
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      transition: all 450ms ease; }
      .toggle-mode__btn__circle--dark {
        transform: translateX(100%); }
      .toggle-mode__btn__circle--light {
        transform: translateX(-100%); }
  .toggle-mode__icon {
    font-size: 2.4rem; }

.input-box {
  position: relative;
  width: 100%; }
  .input-box__icon {
    height: 2.8rem;
    width: 2.8rem;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 55%;
    left: 0.8rem;
    transform: translateY(-50%); }
  .input-box__input {
    padding-left: 1.5rem;
    width: 100%; }

.container {
  display: flex; }

.content {
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 12rem;
  padding: 3.2rem;
  flex: 1;
  height: 100%; }

.overlay {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.85);
  backdrop-filter: blur(0.6rem);
  transform: translateX(100vw);
  transition: var(--transition-primary); }
  .overlay--active {
    transform: translateX(0); }

.grid {
  display: grid;
  gap: 3.2rem; }
  .grid--col-2 {
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 56.25em) {
      .grid--col-2 {
        grid-template-columns: repeat(1, 1fr); } }
  .grid--col-3 {
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 75em) {
      .grid--col-3 {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 37.5em) {
      .grid--col-3 {
        grid-template-columns: repeat(1, 1fr); } }
  .grid--col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .grid--col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .grid--expand {
    grid-column: 1 / -1; }

.navbar {
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);
  padding: 1.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%; }
  .navbar__btn {
    display: none;
    background-color: transparent;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    position: fixed;
    z-index: 2000; }
    @media only screen and (max-width: 56.25em) {
      .navbar__btn {
        display: block; } }
    .navbar__btn:focus {
      background-color: transparent; }
  .navbar__icon {
    position: relative;
    margin-top: 3.5rem;
    z-index: 10000; }
    .navbar__icon, .navbar__icon::before, .navbar__icon::after {
      width: 3.6rem;
      height: 0.2rem;
      display: inline-block;
      background-color: #fff;
      -webkit-transition: var(--transition-primary);
      transition: var(--transition-primary); }
    .navbar__icon::before, .navbar__icon::after {
      position: absolute;
      content: "";
      left: 0; }
    .navbar__icon::before {
      top: -0.8rem; }
    .navbar__icon::after {
      top: 0.8rem; }
    .navbar__icon--active {
      top: 0;
      left: 0; }
      .navbar__icon--active {
        background-color: transparent; }
      .navbar__icon--active::before {
        top: 0;
        left: 0;
        transform: rotate(45deg); }
      .navbar__icon--active::after {
        top: 0;
        left: 0;
        transform: rotate(-45deg); }
  .navbar__user {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .navbar__user__img {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%; }
    .navbar__user__name {
      font-size: 2rem;
      font-weight: var(--font-weight-2);
      color: var(--color-grey-dark-1); }

.flex {
  display: flex; }
  .flex--center {
    align-items: center; }
  .flex--center-x {
    justify-content: center; }

.dark {
  color: var(--color-grey-light-4) !important;
  background: linear-gradient(to bottom right, #8f5219, #e17c3c) !important; }
  .dark .navbar,
  .dark .sidebar {
    background: var(--bg-dark-2) !important;
    color: var(--color-grey-light-2) !important; }
  .dark .search__form__input {
    background: var(--bg-dark-3) !important; }

.light {
  color: var(--color-grey-dark-2);
  background: var(--color-white); }

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem; }

.add-book__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; }
  .add-book__form__textarea {
    width: 100%;
    grid-column: 1 / -1;
    min-width: 100%; }
  .add-book__form__btn {
    grid-column: 1 / -1;
    align-items: center; }

.admin {
  display: flex;
  background-color: cadetblue; }

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .login__form {
    padding: 3.2rem;
    max-width: 50rem;
    margin: 0 auto;
    flex-basis: 1;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: var(--border-radius); }
    .login__form__err {
      color: var(--color-warn);
      text-align: center;
      padding: 3.2rem;
      border-radius: var(--border-radius); }

.book {
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius); }
  .book__img-box {
    width: 100%;
    height: 100vh; }
  .book__img {
    width: 100%;
    height: 100%; }
  .book__viewer {
    height: 100vh; }
  .book__info {
    padding: 2.2rem;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .book__info:last-child {
      border-top: 1px solid var(--color-grey-light-2); }
    @media only screen and (max-width: 37.5em) {
      .book__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.2rem; } }
    .book__info__text {
      font-size: var(--font-size); }
  .book__icon {
    fill: var(--color-primary);
    color: var(--color-primary); }
    @media only screen and (max-width: 37.5em) {
      .book__icon {
        width: 3rem;
        height: 3rem; } }
  .book__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .book__grid {
        display: flex;
        flex-direction: column; } }
  .book__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 37.5em) {
      .book__img {
        border-radius: 0; } }
  .book__text {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem; }
  .book__actions {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .book__container {
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-grey-light-2); }
  .book__user {
    display: flex;
    align-items: center;
    gap: 1.2rem; }
    .book__user__text {
      display: flex;
      align-items: center;
      gap: 1.2rem; }
    .book__user__name {
      font-size: 1.4rem; }
    .book__user__img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%; }

.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 3.4rem 3.2rem;
  border-radius: var(--border-radius);
  gap: 1.3rem; }
  .error__heading {
    font-size: 4.2rem;
    color: var(--color-warn);
    text-align: center; }
  .error__text {
    font-size: 2.2rem; }
  .error__link:link, .error__link:visited {
    text-align: center;
    text-decoration: none;
    align-self: center;
    color: var(--color-primary); }

.forgot-password {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.not-found {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4.2rem; }
  .not-found__icon {
    width: 38.2rem;
    height: 38.2rem; }
  .not-found__heading {
    font-size: 3.8rem;
    text-transform: uppercase; }
